<div class="topmain">
	<div class="jumbotron">
	  	<br/>
	    <h1>HALLEY</h1>
	    <br/>
	    
	    <p>test</p>
	</div>
	<div class="desc">
		<div class="container">
			<div class="row">
				<div class="col-md-6">
					<%= image_tag("halley_comet.jpg", :class => "img-circle img-thumbnail", :size=>"200x200") %>	
				</div>
				<div class="col-md-6">
					<p>TEST</p>
				</div>
			</div>
		</div>
	</div>
</div>