// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import "home-button-and-icon";

body{
	padding-top:0px;
	padding-bottom: 0px;
}

input:-webkit-autofill {
    background-color: white !important;
}


@font-face{
  font-family: Mojave;
  src: font-url("Mojave-Regular.ttf") format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face{
  font-family: Lato;
  src: font-url("Lato-Regular.ttf") format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face{
  font-family: LatoHair;
  src: font-url("Lato-Hairline.ttf") format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face{
  font-family: FLANCHISE;
  src: font-url("Franchise-Bold.ttf") format('truetype');
  font-weight: normal;
  font-style: normal;
}

input.form-control{
	color: white;
	background-color: transparent;
	font-style: white;
	border-color: white;
	border-width: 2px;
	padding: 20px;
	border-radius: 0px;
	float: left;
	width: 200px;
	margin-left: -2px;
}

.form-control:focus{
	border-color: white;
	color: white;
}
form{
	margin-left: 150px;
}

.container1{
	background-color:#0AC5F4;
}

a.attention{
	font-size: 98px;
	font-family: LatoHair;
	letter-spacing: 0.2em;
	color: white;
	text-decoration: none;
	margin-left: 280px;
}

.desc1{
	padding-top: 110px;
	height: 580px;
	margin-left: 145px;
}
.desc2{
	padding-top:120px;
	height: 480px;
	background-color: #E9ECEC;
}

.list1{
	width:49%;
	display: inline-block;
	text-align: right;
}
.list2{
	width:49%;
	margin: 0 auto;
	display: inline-block;
	text-align: center;
}


