form.regist{
	margin-left: 280px;
	margin-top: 30px;
	float:left;
}

.form-control{
	letter-spacing: 0.2em;
}

.btn-login{
	float: right;
	font-family: Mojova;
	font-size: 15px;
	border-color: white;
	border-width: 2px;
	height: 44px;
	a:focus{text-decoration: none;}
	a:hover{text-decoration: none;}
	background-color: transparent;
	letter-spacing: 0.15em;
}

.btn-fire{
	margin-left: -2px;
	border-color: white;
	border-width: 2px;
	height: 44px;
	border-radius: 0px;
	background-color: transparent;
}


.btn-fire:hover{
	background-color: white;
	.glyphicon{
		color: #2E8EDB;
	}
}

.btn:focus{
	outline: none;
	outline-offset: none;
}

.glyphicon{
	color: white;
}