form.regist{
	margin-left: 280px;
	margin-top: 30px;
}

.btn-fire{
	margin-left: -2px;
	border-color: white;
	border-width: 2px;
	height: 44px;
	border-radius: 0px;
	background-color: transparent;
}

.btn:focus{
	color: white;
	outline: none;
	outline-offset: none;
}

.glyphicon{
	color: white;
}