// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/



@font-face{
  font-family: Mojave;
  src: font-url("Mojave-Regular.ttf") format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face{
  font-family: Lato;
  src: font-url("Lato-Regular.ttf") format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face{
  font-family: LatoHair;
  src: font-url("Lato-Hairline.ttf") format('truetype');
  font-weight: normal;
  font-style: normal;
}

.colorbar{
	background-image: url("../../images/color-bar.jpg");
}

a.attention{
	font-size: 98px;
	font-family: LatoHair;
	letter-spacing: 0.2em;
	color: #0AC5F4;
	text-decoration: none;
	margin-left: 280px;

}

.desc1{
	padding-top: 60px;
	height: 480px;
}
.desc2{
	padding-top:60px;
	height: 480px;
	background-color: #FFA755;
}


